#play-btn {
	color: white;
	position: absolute;
	top: 50px;
	left: 50px;
	opacity: 0;
	transition: all 0.3s;
}

.cover {
	position: relative;
	width: 152px;
	height: 152px;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.overlay {
	background-color: rgb(0,0,0);
	width: 152px;
	height: 152px;
	padding: 0;
	margin:0;
	position: absolute;
	top: 0;
	opacity: 0;
	transition: all 0.3s;
}

.cover:hover #play-btn {
	opacity: 1;
}

.cover:hover .overlay{
	opacity: 0.3;
}

.count {
	width: 152px;
	text-align: right;
	background: rgb(0,0,0);
	background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 45%, rgba(0,0,0,0.5298494397759104) 66%, rgba(0,0,0,0.6502976190476191) 100%);
	color: white;
	padding-right: 5px;
	box-sizing: border-box;
	position: absolute;
	right: 0;	
	top:0;
}

.main .whole-covers{
	display: flex;
	justify-content: flex-start;
	margin-top: 0.875rem;
}

.main .whole-cover {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin-right: 1.5rem;
}

.main .title {
	font-size: 26px;
	color: #43A1F4;
}

.main .cover-name {
	font-size: 14px;
	transition: color 0.3s ;
	font-weight: 400;
	text-align: left;
	margin-top: 7px;
}

.main .cover-name:hover {
	color: #43A1F4;
}

.main {
	border: 1px solid black;
	display: flex;
	z-index: 1;
	margin-right: 14rem;
	height: auto;
	flex-direction: column;
	align-items: flex-end;
}

.xxx {
	display: inline-block;
	width: auto;
	text-align: left;
	margin-top: 40px;
}