.header ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0;
	margin-bottom: 0;
	height: 65px;
}

a{
	text-decoration:none;
	text-align: center;
	font-weight: 400;
}

li {
	padding: 7.5px
}

a:visited {
	color: black;
}

a:active{
	color: none;
}

.has-submenu:hover > a{
	color: #43A1F4;
}

.header {
	border-bottom: 1px solid #c2c2c2;
	position: sticky;
  	top: 0;
  	background-color: white;
}

.header li {
	margin: 0.5rem;
	width: auto;
	white-space: nowrap;
}

#phienbanmoi {
	font-weight: bold;
	color: #25b3fa; 
}

.search-bar {
	border-radius: 35px;
	background-color: #e0e0e0;
	border:none;
	height: 1rem;
	width: auto;
	font-size: 12px;
	position: relative;
}

input[type=text]{
	border: none;
	width: 14rem;
	background-color: #e0e0e0;
	border-radius: 35px;
}

.search-bar i {
	margin-left: 10px;
	padding-right: 5px; 
}

.headphone i,
.upload i{
	opacity: 0.5;
}

.headphone:hover i,
.upload:hover i{
	opacity: 1;
	color: black;
}

.vip {
	background-color: #ffba52;
	border-radius: 30px;
	display:flex;
	justify-content: flex-end;
	padding-left: 3rem;
	position: relative;
}

.vip a{
	font-weight: bold;
	color: white;
}

.vip a i {
	color: #00a8ff;
	position: absolute;
	right:75px;
	bottom: -6px;
}

.header .has-submenu {
	position: relative;
}

.header .has-submenu > a{
	padding-bottom: 30px;
}

.has-submenu .submenu,
.vip .submenu{
	position: absolute;
	visibility: hidden;
	opacity: 0;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	top: 100%;
	height: auto;
	margin-top: 17px;
	text-align: left;
	transition: all 0.3s;
	display: flex;
	color: black;
	text-align: left;
}


.has-submenu:hover .submenu ,
.vip:hover .submenu{	
	visibility: visible;
	opacity: 1;
}

.submenu a:hover ,
.vip .submenu a:hover{
	color: #43A1F4;
}

.vip .submenu a {
	color: black;
	font-weight: 400;
}

.vip .submenu li:first-child {
	border-bottom: 1px solid #c2c2c2; 
}

.vip .submenu {
	border-radius: 5px;
}

.has-submenu .submenu ul{
	padding: 0;
	display: block;
	height: auto;
}



.search-bar .top-keyword {
	opacity: 0;
	visibility: hidden;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: all 0.3s;
	position: absolute;
	top: 100%;
	height: auto;
	width: 300px;
	border-radius: 8px;
	display: flex;
	margin-top: 18px;
	align-items: flex-start;
	flex-direction: column;
	right: 0px;
}

.search-bar input[type=text]:focus {
	outline: none;
}

.search-bar:focus-within .top-keyword {
	opacity: 1;
	visibility: visible;
}

ol {
	padding: 0;
	list-style-position: inside;
	text-align: left;
}

.search-bar .top-keyword .history-result {
	font-style: italic;
}

.header .title {
	flex-grow: 1;
	font-size: 0.9rem;
	font-weight: bold;
	background-color: #dedede;
	width: auto;
	padding: 10px;
	text-align: left;
	width: inherit;
	box-sizing: border-box;
}

.header .title-0 {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px; 
	border-bottom: 1px solid #c4c4c4; 
}

.header .title-1 {
	border-top: 1px solid #c4c4c4;
	border-bottom: 1px solid #c4c4c4;

}

.history-result {
	flex-grow: 1;
	padding: 15px;
	color: #c4c4c4;
}

.list {
	flex-grow: 5;
	font-size: 0.9rem;
}

#play-btn {
	color: white;
	position: absolute;
	top: 50px;
	left: 50px;
	opacity: 0;
	transition: all 0.3s;
}

.cover {
	position: relative;
	width: 152px;
	height: 152px;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.overlay {
	background-color: rgb(0,0,0);
	width: 152px;
	height: 152px;
	padding: 0;
	margin:0;
	position: absolute;
	top: 0;
	opacity: 0;
	transition: all 0.3s;
}

.cover:hover #play-btn {
	opacity: 1;
}

.cover:hover .overlay{
	opacity: 0.3;
}

.count {
	width: 152px;
	text-align: right;
	background: rgb(0,0,0);
	background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 45%, rgba(0,0,0,0.5298494397759104) 66%, rgba(0,0,0,0.6502976190476191) 100%);
	color: white;
	padding-right: 5px;
	box-sizing: border-box;
	position: absolute;
	right: 0;	
	top:0;
}

.main .whole-covers{
	display: flex;
	justify-content: flex-start;
}

.main .whole-cover {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.main .title {
	font-size: 26px;
	color: #43A1F4;
}

.main .cover-name {
	font-size: 14px;
	transition: color 0.3s ;
	font-weight: 400;
}

.main .cover-name:hover {
	color: #43A1F4;
}

.xxx {
	text-align:left;
}