body {
	padding: 0;
	margin: 0;
	font-family: arial, sans-serif;
}

.wrapper .header { grid-area: header; }
.wrapper .main { grid-area: main; }
.wrapper .sidebar { grid-area: sidebar; }
.wrapper .footer { grid-area: footer; }

.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	/*grid-auto-rows: minmax(auto, auto);*/
	grid-gap: 20px;
	justify-content: center;
	grid-template-areas: "header header"
						 "main sidebar"
						 "footer footer";		
}





