body {
	padding: 0;
	margin: 0;
	font-family: arial, sans-serif;
}

.wrapper .header { grid-area: header; }
.wrapper .mid { grid-area: mid; }
.wrapper .footer { grid-area: footer; }

.wrapper {
	display: grid;
	grid-template-columns: 1fr;
	/*grid-auto-rows: minmax(auto, auto);*/
	justify-content: center;
	grid-template-areas: "header"
						 "mid"
						 "footer";		
}

.wrapper .mid {
	justify-self: center; 
	display: flex;
	width: 1171px;
	justify-content: space-between;
}

.wrapper .mid .main {
	width: 840px;
}

.wrapper .mid .sidebar {
	width: 300px;
}







